<div class="booyah-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>

    <div class="col-8">
      <h1><%= @user.email %></h1>

      <h3>Sipping since: <%= @user.created_at.strftime("%d %B, %Y") %><h3>
      <h4>Total of: <%= @user.comments.count %> opinions made.</h4>
      <h4>Has made <%= @user.comments.where(rating: '5_stars') %> 5 star reviews!</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<br />
<br />

<h1 class="text-center">My Squawks</h1>
<br />
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <h2 class="text-center"><%= link_to comment.place.id, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>

