<div class="booyah-box col-10 offset-1">
    <h1>Need to make changes?</h1>
    <%= simple_form_for @place do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <br />
        <%= f.submit "It's better now! [save]", class: 'btn btn-success' %>
    <% end %>
</div>